
header {
background-color: #414042;
padding: 10px;
}

  <div class="container"> {
        text-align: right;
  }



hr {
  height: 15px;
  background-color: #30bebc;
}




.row {
  margin: 15px;
}
<div class="socialMedia">{
  padding: 10px;
}
